.container {
  padding: 0;
  display: flex;
}

.icon{
  margin: 0 15px 0 0;
  font-size: 16px;
}

.rightSide_TopBox h2{
  margin: 84px 0 10px 25px;
}

.rightSide_TopBox__cart{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 45px;
  gap: 18px;
}
.logo {
  height: 1em;
  margin: 20px 76px 20px 25px;
}




.sidebar{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 230px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.menu{
  margin: 12px 0 0 0;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.7);
}



.menu li{
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  width: 210px;
  height: 35px;
  padding: 12px 5px;
  list-style: none;
}

.menu li:hover{
  cursor: pointer;
  color: white;
  background: #282828;
  border-radius: 4px;
}


.leftSide{
  display: flex;
  flex-direction: column;
  width: 15% !important;
}
.rightSide{
  display: flex;
  flex-direction: column;
  width: 85% !important;
}

.rightSide_TopBox{
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #3C3F41 0%, #000000 100%);
  height: 350px;
  width: 100%;
}
